openapi: 3.1.0

info:
  title: AASTP REST API
  version: 1.0.0
  description: >
    REST API providing access to AASTP reference data
    and quantity-distance assessment services.
  contact:
    name: AASTP Project
    email:
  licence:
    name: NATO

servers:
  - url: https://api.aastp.org/api/v1
    description: Production

  - url: https://test.api.aastp.org/api/v1
    description: Test

tags:
  - name: Reference Data
    description: Static AASTP reference datasets
  
  - name: Assessment
    description: Quantity-distance assessments
  
  - name: Metadata
    description: API information

paths:

  /pes-types:

    get:

      summary: Retrieve all PES Types

      description: >
        Returns every Potential Explosion Site (PES) type defined by the AASTP reference data.
      
      operationId: getPesTypes

      tags: 
        - Reference Data
      
      responses:

        "200":

          description: Successful response

          content:
            application/json:
              schema:

  /pes-types/{id}:

    get:

      summary: 

      description: >
        Description
      
      operationId:

      tags: 
        - Reference Data
      
      responses:

        "200":

          description: Successful response

          content:
            application/json:
              schema:
  
  /es-types:

    get:

      summary: 

      description: >
        Description
      
      operationId:

      tags: 
        - Reference Data
      
      responses:

        "200":

          description: Successful response

          content:
            application/json:
              schema:  

  /es-types/{id}:

    get:

      summary: 

      description: >
        Description
      
      operationId:

      tags: 
        - Reference Data
      
      responses:

        "200":

          description: Successful response

          content:
            application/json:
              schema:

  /hazard-categories:

    get:

      summary: 

      description: >
        Description
      
      operationId:

      tags: 
        - Reference Data
      
      responses:

        "200":

          description: Successful response

          content:
            application/json:
              schema:

  /hazard-categories/{id}:

    get:

      summary: 

      description: >
        Description
      
      operationId:

      tags: 
        - Reference Data
      
      responses:

        "200":

          description: Successful response

          content:
            application/json:
              schema:

  /structures:

    get:

      summary: 

      description: >
        Description
      
      operationId:

      tags: 
        - Reference Data
      
      responses:

        "200":

          description: Successful response

          content:
            application/json:
              schema:

  /structures/{id}:

    get:

      summary: 

      description: >
        Description
      
      operationId:

      tags: 
        - Reference Data
      
      responses:

        "200":

          description: Successful response

          content:
            application/json:
              schema:

  /protection-levels:

    get:

      summary: 

      description: >
        Description
      
      operationId:

      tags: 
        - Reference Data
      
      responses:

        "200":

          description: Successful response

          content:
            application/json:
              schema:

  /protection-levels/{id}:

    get:

      summary: 

      description: >
        Description
      
      operationId:

      tags: 
        - Reference Data
      
      responses:

        "200":

          description: Successful response

          content:
            application/json:
              schema:

  /interaction-rules/:

    get:

      summary: 

      description: >
        Description
      
      operationId:

      tags: 
        - Reference Data
      
      responses:

        "200":

          description: Successful response

          content:
            application/json:
              schema:

  /interaction-rules/{id}:

    get:

      summary: 

      description: >
        Description
      
      operationId:

      tags: 
        - Reference Data
      
      responses:

        "200":

          description: Successful response

          content:
            application/json:
              schema:

  /distance-rules:

    get:

      summary: 

      description: >
        Description
      
      operationId:

      tags: 
        - Reference Data
      
      responses:

        "200":

          description: Successful response

          content:
            application/json:
              schema:

  /distance-rules/{id}:

    get:

      summary: 

      description: >
        Description
      
      operationId:

      tags: 
        - Reference Data
      
      responses:

        "200":

          description: Successful response

          content:
            application/json:
              schema:

  /constraints:

    get:

      summary: 

      description: >
        Description
      
      operationId:

      tags: 
        - Reference Data
      
      responses:

        "200":

          description: Successful response

          content:
            application/json:
              schema:

  /constraints/{id}:

    get:

      summary: 

      description: >
        Description
      
      operationId:

      tags: 
        - Reference Data
      
      responses:

        "200":

          description: Successful response

          content:
            application/json:
              schema:

  /formulas:

    get:

      summary: 

      description: >
        Description
      
      operationId:

      tags: 
        - Reference Data
      
      responses:

        "200":

          description: Successful response

          content:
            application/json:
              schema:

  /formulas/{id}:

    get:

      summary: 

      description: >
        Description
      
      operationId:

      tags: 
        - Reference Data
      
      responses:

        "200":

          description: Successful response

          content:
            application/json:
              schema:

  /transformations:

    get:

      summary: 

      description: >
        Description
      
      operationId:

      tags: 
        - Reference Data
      
      responses:

        "200":

          description: Successful response

          content:
            application/json:
              schema:

  /transformations/{id}:

    get:

      summary: 

      description: >
        Description
      
      operationId:

      tags: 
        - Reference Data
      
      responses:

        "200":

          description: Successful response

          content:
            application/json:
              schema:

  /assessment:

    get:

      summary: 

      description: >
        Description
      
      operationId:

      tags: 
        - Assessment
      
      responses:

        "200":

          description: Successful response

          content:
            application/json:
              schema:

  /health:

    get:

      summary: Retrieve all PES Types

      description: >
        Returns every Potential Explosion Site (PES) type defined by the AASTP reference data.
      
      operationId: getPesTypes

      tags: 
        - Metadata
      
      responses:

        "200":

          description: Successful response

          content:
            application/json:
              schema:

  /version:

    get:

      summary: Retrieve all PES Types

      description: >
        Returns every Potential Explosion Site (PES) type defined by the AASTP reference data.
      
      operationId: getPesTypes

      tags: 
        - Metadata
      
      responses:

        "200":

          description: Successful response

          content:
            application/json:
              schema:

  /datasets:

    get:

      summary: Retrieve all PES Types

      description: >
        Returns every Potential Explosion Site (PES) type defined by the AASTP reference data.
      
      operationId: getPesTypes

      tags: 
        - Metadata
      
      responses:

        "200":

          description: Successful response

          content:
            application/json:
              schema:

components:

  schemas:

    ResponseEnvelope:
      type: object
      properties:
        data:
          description: Payload returned by the request.

    ErrorResponse:
      type: object
      properties:
        httpStatus:
          type: integer
        code:
          type: string
        message:
          type: string
        authority:
          $ref: "#/components/schemas/Authority"
        traceId:
          type: string

    Metadata:
      type: object
      properties:
        data:
          description: Payload returned by the request.

    ReferenceObject:
      type: object
      properties:
        data:
          description: Payload returned by the request.

    DomainObjects:
      type: object
      properties:
        data:
          description: Payload returned by the request.

    Authority:
      type: object
      properties:
        standard:
          type: string
        edition:
          type: string
        reference:
          type: string

  responses:

  parameters:

  examples:

  securitySchemes:
