openapi: 3.1.0

info:
  title: AASTP Engineering Service API
  version: 1.0.0
  description: >
    REST API providing access to governed AASTP engineering resources
    and quantity-distance assessment services.
  contact:
    name: AASTP Project
    email: christopher.harbet@defence.gov.au
  license:
    name: NATO

servers:
  - url: https://api.aastp.org/api/v1
    description: Production

  - url: https://test.api.aastp.org/api/v1
    description: Test

tags:
  - name: Reference Data
    description: Governed AASTP engineering reference resources.
  
  - name: Assessment
    description: Quantity-distance assessment operations.
  
  - name: Service Metadata
    description: Service status and release information.

paths:

  /structures:
    $ref: "./paths/structures.yaml"
  
  /pes-types:
    $ref: "./paths/pes-types.yaml"

  /es-types:
    $ref: "./paths/es-types.yaml"

  /hazard-categories:
    $ref: "./paths/hazard-categories.yaml"

  /calculations:
    $ref: "./paths/calculations.yaml"

components:

  schemas:

    Identifier:
      $ref: "./components/schemas/identifier.yaml"

    SourceReference:
      $ref: "./components/schemas/sourceReference.yaml"

    ResponseMetadata:
      $ref: "./components/schemas/responseMetadata.yaml"

    SupportedConstructionProperties:
      $ref: "./components/schemas/supportedConstructionProperties.yaml"

    SupportedExposureProperties:
      $ref: "./components/schemas/supportedExposureProperties.yaml"

    OrientationType:
      $ref: "./components/schemas/orientationType.yaml"

    Structure:
      $ref: "./components/schemas/structure.yaml"

    EcmProtectionRating:
      $ref: "./components/schemas/ecmProtectionRating.yaml"

    PotentialExplosionSiteConstruction:
      $ref: "./components/schemas/potentialExplosionSiteConstruction.yaml"

    PotentialExplosionSiteType:
      $ref: "./components/schemas/potentialExplosionSiteType.yaml"

    PotentialExplosionSiteTypeSummary:
      $ref: "./components/schemas/potentialExplosionSiteTypeSummary.yaml"

    PotentialExplosionSiteTypeCollection:
      $ref: "./components/schemas/potentialExplosionSiteTypeCollection.yaml"

    ExposedSiteConstruction:
      $ref: "./components/schemas/exposedSiteConstruction.yaml"

    ExposedSiteExposure:
      $ref: "./components/schemas/exposedSiteExposure.yaml"

    ExposedSiteType:
      $ref: "./components/schemas/exposedSiteType.yaml"

    ExposedSiteTypeSummary:
      $ref: "./components/schemas/exposedSiteTypeSummary.yaml"

    ExposedSiteTypeCollection:
      $ref: "./components/schemas/exposedSiteTypeCollection.yaml"

  responses: {}

  parameters: {}

  examples: {}

  securitySchemes: {}
